* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 1200px;
  margin: 0 auto;
}
.header {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-login {
  color: black;
}
.header-info{
  display: flex;
  align-items: center;
  gap: 30px;
}
.productos {
  display: grid;
  grid-template-columns: 80% 20%;
}
.productos-list {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.producto {
  width: 200px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.producto-img {
  width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.producto-add {
  border: none;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  cursor: pointer;
}
.producto-add > svg {
  width: 12px;
  height: 12px;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 20px;
}
.cart-item {
  padding: 8px 0;
  display: flex;
  align-items: start;
  gap: 10px;
}
.cart-item-img {
  width: 70px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.cart-btn-pay {
  border: none;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  cursor: pointer;
}
.hidden {
  display: none;
}
