* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 1200px;
  margin: 0 auto;
}
.header {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.producto {
  width: 200px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.producto-img {
  width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.producto-add {
  border: none;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
}

.producto-add > svg {
  width: 12px;
  height: 12px;
}
