.container {
  width: 1200px;
  display: grid;
  grid-template-columns: 70% 1fr;
  gap: 20px;
  margin: 0 auto;
  padding: 40px 0;
}
aside {
  background-color: white;
}

.image {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  object-fit: cover;
  object-position: center;
}

#btn-submit {
  margin-top: 20px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}
