body {
	height: 100vh;
	margin: 0;
	justify-content: center;
	align-items: center;
	background: #000;
	overflow: hidden;
	display: flex;
}
canvas {
	display: block;
	margin: 0 auto;
	background: #222;
}
